svg {
    stroke: #fff;

    // All layers are just path elements
    path {
      fill: #a82b2b;
      cursor: pointer;
      outline: none;

      // When a layer is hovered
      &:hover {
        fill: rgba(168,43,43,0.83);
      }

      // When a layer is focused.
      &:focus {
        fill: rgba(168,43,43,0.6);
      }

      // When a layer is 'checked' (via checkedLayers prop).
      &[aria-checked='true'] {
        fill: rgba(56,43,168,1);
      }

      // When a layer is 'selected' (via currentLayers prop).
      &[aria-current='true'] {
        fill: rgba(56,43,168,0.83);
      }

      // You can also highlight a specific layer via it's id
      &[id="nz-can"] {
        fill: rgba(56,43,168,0.6);
      }
    }
}

.wrapper {
  background-color: #cccccc;
}

.Map {
    width: 100%;
    margin: 5rem auto;
    width: 500px;
    background-color: #cccccc;
}

.direction {
  position: absolute;
  top:0px;
  left: 555px;
}

.year {
    position: absolute;
    top:0px;
    left: 255px;
}

.pie {
  display:  inline-block;
  width: 400px;
  height: 400px;
  position: absolute;
  h1 {
    font-size: 16px;
  }
}  

.hide {
  display: none;
}